{% extends "網路語料/框.html" %}

{% block 內容 %}
	{% if 表格 %}
		<form action="" method="post">{% csrf_token %}
		<table class="資料">
			<tr>
				<td>
	        	   	{% include "網路語料/一格資料.html" with 資料=表格.臺語來源 %}
	   			</td>
				<td colspan="2">
	        	   	{% include "網路語料/一格資料.html" with 資料=表格.文本音標來源 %}
	   			</td>
   			</tr>
			<tr>
				<td>
	        	   	{% include "網路語料/一格資料.html" with 資料=表格.臺語內容 %}
	   			</td>
				<td>
	        	   	{% include "網路語料/一格資料.html" with 資料=表格.文本內容 %}
	   			</td>
				<td>
	        	   	{% include "網路語料/一格資料.html" with 資料=表格.音標內容 %}
	   			</td>
   			</tr>
			<tr><td>
				<input type="submit" value="確定" />
	 		</td></tr>
 		</table>
		</form>
	{% else %}
	    <p>No 文章 are available.</p>
	{% endif %}
{% endblock %}