{% extends "網路語料/框.html" %}

{% block 內容 %}
	{% if 語料 %}
	<table class="資料">
		<tr>
			<td></td>
			<td>{{ 語料.分類 }}</td>
			<td></td>
			<td>頭一擺翻譯時間：{{ 語料.收錄時間|date:"Y-m-d" }}
			｜ 上尾修改時間：{{ 語料.上尾修改時間|date:"Y-m-d" }}
			</td>
		</tr>
		<tr>
			<td>
        	   	{% include "網路語料/一格資料.html" with 資料=語料.華語來源 %}
   			</td>
			<td>
        	   	{% include "網路語料/一格資料.html" with 資料=語料.臺語來源 %}
   			</td>
			<td colspan="2">
				<h3>文本音標來源</h3>
        	   	{% include "網路語料/一格資料.html" with 資料=語料.文本音標來源 %}
   			</td>
		</tr>
		<tr>
			<td>
				<h3>華語</h3>
        	   	{% include "網路語料/一格資料.html" with 資料=語料.華語內容 %}
	   		</td>
			<td>
				<h3>母語</h3>
        	   	{% include "網路語料/一格資料.html" with 資料=語料.臺語內容 %}
	   		</td>
			<td>
				<h3>文本</h3>
        	   	{% include "網路語料/一格資料.html" with 資料=語料.文本內容 %}
   			</td>
			<td>
				<h3>音標</h3>
        	   	{% include "網路語料/一格資料.html" with 資料=語料.音標內容 %}
   			</td>
		</tr>
	</table>
	{% else %}
	<p>無文章</p>
	{% endif %}
{% endblock %}
